#flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

h2{
    margin: 0;
}

#flex div{
    width: 200px;
    height:200px;
    background-color:rgb(157, 203, 244);
    padding:40px;
}

#flex img{
    width: 80%;
    height:80%; 
    margin: auto;
}


.flex1{
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}

    
