#flex{
    display: flex;
     flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

#flex3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    flex-direction: row;
    justify-content: center;
}



    /* h1{
        margin: 0;
         color: white; 
        background-color: rgb(1, 77, 143); 
    } */

 #flex3 h1{
    width: 800px;
    height:50px;
    background-color:rgb(1, 77, 143);
    padding:20px;
    margin: 20px; 
    text-align: center;
    animation-name: backcolorchange;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    color: white;
}
 
@keyframes backcolorchange{
    0% {background-color: pink;}
    25% {background-color: rgb(176, 210, 176);}
    50% {background-color: rgb(14, 14, 95);}
    75% {background-color: teal;}
    100% {background-color: pink;}
}


h2{
    margin: 0;
}

#flex div{
    width: 200px;
    height:200px;
    background-color:rgb(157, 203, 244);
    padding:40px;
    border-radius: 15px;
}

#flex img{
    width: 150px;
    height: 150px;
    margin: auto; 
    transition: width 2s;
    border-radius: 15px;
}


.flex1{
    display: flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}

h4{
    color: white;
    size: 20px;
    width: 150px;
    transition: width 3s;
    animation-name: multiplecolors;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes colorswitch{
    from {background-color: aqua;}
    to {background-color:green;}
}

@keyframes multiplecolors{
    0% {background-color: pink;}
    25% {background-color: green;}
    50% {background-color: blue;}
    75% {background-color: teal;}
    100% {background-color: pink;}
}

h4:hover{
    background-color: rgb(176, 208, 176);
    width: 200px;

}



#flex img:hover{
    width: 250px;
    height: 250px;
}

#link{
background-color: rgb(3, 38, 126);
color: white;
}
    
